{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}  
<h1> <a href="{{post.link}}"> {{ post.title }}</a> </h1>


<p class="date">
    Published {{ post.publish }} by {{ post.author }}  votes: {{post.votes}}
  </p>  
  {{ post.body|linebreaks }}
<p>
  <a href="{% url 'blog:post_share' post.id %}">
    Share this post
  </a>
</p>
{% if new_comment %}
  <h2>Your comment has been added.</h2>
{% else %}
  <h2>Add a new comment</h2>
  <form action="." method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Add comment"></p>
  </form>
{% endif %}

{% for comment in comments %}
  <div class="comment">
    <p class="info">
      Comment {{ forloop.counter }} by {{ comment.name }}
      {{ comment.created }}
    </p>
  {{ comment.body|linebreaks }}
  </div>
{% empty %}
  <p>There are no comments yet.</p>
{% endfor %}

{% with comments.count as total_comments %}
  <h2>
    {{ total_comments }} comment{{ total_comments|pluralize }}
  </h2>
{% endwith %}
{% endblock %}